In [1]:
import pandas as pd

In [2]:
reviews_df = pd.read_csv('../data/cleaned_reviews_data.csv')
reviews_df.head()

,user_id,user_name,review_time,rating,review_text,pics,resp,gmap_id,has_resp,resp_text,resp_time,biz_name,description,category,avg_rating,num_of_reviews,price_level
0,103563353519118155776,Peri Gray,2018-01-16 17:11:15.780000+00:00,5,Great place to care for our children.,False,NaN,0x532af45db8f30779:0xd9be9359f1e56178,False,NaN,NaN,CRST WIC Office,NaN,NaN,4.7,8,0
1,101824980797027237888,Suzy Berndt,2018-07-30 03:45:50.314000+00:00,5,Th sw y are so nice,False,NaN,0x532af45db8f30779:0xd9be9359f1e56178,False,NaN,NaN,CRST WIC Office,NaN,NaN,4.7,8,0
2,108711640480272777216,Rosemary Red Legs,2018-07-07 13:11:33.932000+00:00,5,Went with my daughter,False,NaN,0x532af45db8f30779:0xd9be9359f1e56178,False,NaN,NaN,CRST WIC Office,NaN,NaN,4.7,8,0
3,101852294221648461824,Brown Wolf,2018-09-16 08:13:55.922000+00:00,2,NaN,False,NaN,0x532af45db8f30779:0xd9be9359f1e56178,False,NaN,NaN,CRST WIC Office,NaN,NaN,4.7,8,0
4,108987444312280645632,C J Blue Coat,2016-09-26 20:39:35.491000+00:00,5,NaN,False,NaN,0x532af45db8f30779:0xd9be9359f1e56178,False,NaN,NaN,CRST WIC Office,NaN,NaN,4.7,8,0

In [3]:
reviews_df.shape

(673048, 17)

In [4]:
reviews_df.columns

Index(['user_id', 'user_name', 'review_time', 'rating', 'review_text', 'pics',
       'resp', 'gmap_id', 'has_resp', 'resp_text', 'resp_time', 'biz_name',
       'description', 'category', 'avg_rating', 'num_of_reviews',
       'price_level'],
      dtype='object')